.login-text-main,
.login-bottom-text {
  width: 70%;
  margin: 0px auto 0px auto;
  text-align: center;
}
.login-head,
.login-text-follow {
  margin-bottom: 10px;
}
.login-buttons {
  margin: 30px auto 60px auto;
}
