* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
}
body {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(190, 240, 255);
}

img {
  width: 100%;
}

.border {
  border: 1px solid;
}

.center-only {
  margin: 0px auto;
}

.width-fit {
  width: max-content;
}

.center {
  display: block;
  margin: 0px auto;
}

.offset-top-main {
  padding-top: 100px;
}

.offset-top-main-2 {
  padding-top: 200px;
}

.offset-top-main-3 {
  padding-top: 300px;
}

button:hover {
  cursor: pointer;
}

.mobile-padding {
  padding: 20px;
}

.ant-input-prefix,
.ant-input-suffix {
  width: max-content !important;
}

.full-device-height {
  height: 100vh;
}
.page-main {
  display: flex;
  align-items: center;
}
.pointer {
  cursor: pointer;
}
