* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
}

img {
  width: 100%;
}

.border {
  border: 1px solid;
}

.center-only {
  margin: 0px auto;
}

.width-fit {
  width: max-content;
}

.center {
  display: block;
  margin: 0px auto;
}

.offset-top-main {
  padding-top: 100px;
}

button:hover {
  cursor: pointer;
}

.mobile-padding {
  padding: 20px;
}

.ant-input-prefix,
.ant-input-suffix {
  width: max-content !important;
}
